body {
	font-family: 'lato';

}

.main-cont {
	margin: 0 auto;
	margin-top: 20%;
	background-color: #f1f1f1;
	border: solid 1px #ddd;
	width: 350px;
	text-align: center;
}
.logo {
	text-align: center;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: solid 1px #ddd;
	text-transform: uppercase;
}
.main-cont .fb {
	display: inline-block;
	text-align: center;
	padding: 10px 30px;
	background-color: #6f8cd8;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	margin: 30px;
	text-decoration: none;
}
.chat-cont {
	margin: 0 auto;
	margin-top: 10%;
	background-color: #f1f1f1;
	border: solid 1px #ddd;
	width: 450px;
	text-align: center;
}
.name {
	margin: 10px 0;
}
.input {
	display: block;
	margin: 20px 0;
}
.input input {
	width: 70%;
	height: 50px;
	padding: 0 10px;
	float: left;
	box-sizing: border-box;
}
.input a {
	width: 30%;
	float: right;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 15px 0;
	display: block;
}
.roomlist {
	display: block;
	margin: 30px 0;
	overflow: hidden;
	clear: both;
}
.roomlist {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	clear: both;
	min-height: 150px;
	list-style-type: none;
}
.roomlist li {
	display: block;
	padding: 10px;
	background-color: #fff;
	border-bottom: solid 1px #ddd;
}
.rooms li a {
	text-align: left;
	display: block;
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
}
.name img {
	width: 50px;
	height: 40px;

}
.room-cont {
	margin: 0 auto;
	margin-top: 5%;
	background-color: #f1f1f1;
	border: solid 1px #ddd;
	width: 750px;
	text-align: center;
	padding: 10px;
	overflow: hidden;
}
.room-name {
	display: block;
	padding: 10px;
	text-align: left;
}
.chat-body {
	width: 70%;
	height: 350px;
	background-color: #fff;
	border: solid 1px #ddd;
	float: left;
}
.chat-sidebar {
	width: 25%;
	height: 350px;
		background-color: #fff;
	border: solid 1px #ddd;
	float: right;
}
.cht {
	overflow: hidden;
}
.bottom-chat {
	margin-top: 30px;
	padding: 10px;
	height: 100px;
	border-radius: 10px;
	clear: both;
	background-color: #fff;
	border: solid 1px #ddd;
	overflow: hidden;
}
.bottom-chat textarea{
	width: 100%;
	display: block;
	height: 100px;
	border: none;
	font-size: 18px;
}
.main-chat {
	text-align: left;
}
.main-chat img {
	height: 30px;
	width: 40px;
}
.main-chat ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.pic {
	width: 40px;
	float: left;
}
.msg {
	width: 90%;
	float: left;
	background-color: #f1f1f1;
	padding: 8px;
	box-sizing: border-box;
}
.users li img {
	float: left;
}